<style>
        h2 {
            color: rgb(100, 35, 230);
        }  
        #parrafo-azul {
            background-color: red;
        }
        
        #parrafo-gris {
            background-color: grey;
        }
        .fuente-arial {
            font-family: "Arial", "Palatino", serif;
            font-size: 30px;
        }
        body {
                background-color: lightblue;
        }
Hasta aquí el CSS usado en la web dos, de aqui en adelante a la web tres

         #demo1 {
                background: rgb(218, 235, 255);
                width: 80%;
                height: 50px;
             }

         #demo2 {
                background: rgb(255, 183, 145);
                width: 60%;
                height: 40px;
             }

   
</style>
